// test program
int a;
float f1, f2;
int[4][4] matrix;
struct Point pt1, pt2;
struct Line line;

struct Point {
    int x;
    int y;
};

struct Line {
    struct Point ptSrc;
    struct Point ptDest;
};
int main (void){
    int score1, score2;
    float ave;
    ave = 3 + 4 * 5 - 2 + 4 / 2 + 10;
    ave = average(score1, score2) * 2.0;
}

// function with parameters
int average (int a, int b) {
    int ave ;
    ave = (a + b ) / 2.0;
    return ave;

}